<template>
  <div class="q-pa-md">
    <q-search
      v-model="busqueda"
      v-on:value="buscar()"
      v-on:keyup.enter="buscar()"
      color="black"
      placeholder="Buscar..."
    />

    <div v-show="this.error == true">
      <sin-resultados></sin-resultados>
    </div>
    <div>
      <item-buscar v-for="dato in datos" v-bind:obra="dato" :key="dato.idimdb"></item-buscar>
    </div>
  </div>
</template>

<script>
import ItemBuscar from "../components/ItemBuscar";
import SinResultados from "../components/SinResultados";

const imdb = require("imdb-api");

const cli = new imdb.Client({ apiKey: "8fbc13a8" });

export default {
  name: "Buscar",
  components: {
    ItemBuscar,
    SinResultados
  },
  created: function () {
      if (this.$store.state.logueo == false) {
        this.$router.push('/login')
    }
  
  },

  methods: {
    buscar: async function() {
      if (!this.textoValido(this.busqueda)) {
        alert("texto a buscar invalido: " + this.busqueda);
      } else {
        this.datos = [];
        
        await cli
          .search({ name: "*" + this.busqueda + "*" })
          .then(search => {
            for (const result of search.results) {
              let obraArr = {};
              obraArr["titulo"] = result.title;
              obraArr["anio"] = result.year;
              obraArr["tipo"] = result.type;
              if (result.poster == "N/A") {
                obraArr["poster"] = this.sinPoster;
              } else {
                obraArr["poster"] = result.poster;
              }
              obraArr["idimdb"] = result.imdbid;
              this.datos.push(obraArr);
            }
            this.error = false
            
          }, (error) => {
          console.log(error)
          this.error = true
          });
          
      }

      
    },

    async textoValido(texto) {
      if (texto.length >= 3) {
        return true;
      } else return false;
    }
  },
  data() {
    return {
      error: false,
      filter: "",
      busqueda: "",
      sinPoster:
        "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOpfzjGCfz0nVqnBehL49E-GdXZdKGGyELTcLiTWyXRapZ86jG",

      datos: []
    };
  }
};
</script>