<template>
  <div class="q-pa-md">


 

    <div>
      <q-modal
        :content-css="{minWidth: '300px', minHeight: '500px'}"
        v-model="$store.state.estadoModal"
        minimized
      >
        <q-card class="q-ma-xs q-pa-xs">
          <div class="q-ma-xs">
            <hr>
            <div class="post-container">
              <div class="post-thumb">
                <img
                  :src="$store.state.obra.poster"
                  alt="Foto de la pelicula"
                  height="110px"
                  width="110px"
                >
              </div>

              <div class="post-content">
                
                  <div id="titulo">{{$store.state.obra.titulo}}</div>
                  <div id="subtitulo" v-if="$store.state.obra.tipo == 'serie'">
                    Serie
                  </div>
                  <div id="subtitulo" v-else>
                    Pelicula
                  </div>
                  <div id="subtitulo">{{$store.state.obra.genero}}</div>
                  <div id="subtitulo">{{$store.state.obra.anio}}</div>
                
              </div>
            </div>
            <hr>
            <div class="cuerpo">
              <span>Sinopsis</span>
              <p class="texto">{{$store.state.obra.sinopsis}}</p>
              <span>Clasifición</span>
              <p class="texto">{{$store.state.obra.clasificacion}}</p>
              <span>Duración</span>
              <p class="texto">{{$store.state.obra.duracion}}</p>

              <span>Actores</span>
              <p class="texto">{{$store.state.obra.actores}}</p>
              <span>Rating IMDB</span>
              <br>
              <q-rating
                style="margin: 5px 2px"
                color="orange"
                icon="fas fa-film"
                v-model="$store.state.obra.ratingimdb"
                :max="10"
                disable
              />
            </div>
            <hr>
          </div>
        </q-card>

        <div id="botones" class="q-ma-xs">
          <q-btn color="secondary" icon="fas fa-trash-alt" @click="eliminar($store.state.obra.id)" label="Eliminar"/>
          <q-btn color="primary" @click="hide" label="Cerrar"/>
        </div>
      </q-modal>
      <lista-contenido ref="lista"></lista-contenido>
    </div>

    <!-- componente de lista **** PELICULAS   *** SERIES -->
  </div>
</template>

<script>
const axios = require("axios");
import ListaContenido from "../components/ListaContenido.vue";
import Obra from "../components/Obra.vue";
export default {
  name: "contenidos",
  components: {
    ListaContenido,
    Obra
  },
  data() {
    return {
      poster: "",
      ratingModel: 6,
      numero: 10,
      selectOptions: [
        {
          label: "Películas",
          value: "mov"
        },
        {
          label: "Series",
          value: "ser"
        }
      ],
      select: "",
      search: ""
    };
  },
  created: function () {
      if (this.$store.state.logueo == false) {
        this.$router.push('/login')
    }
  
  },
  methods: {
    enCambio: function() {
      alert("se cambio el valor a " + this.select);
    },
    hide() {
        this.$store.state.estadoModal = false
    },
    eliminar: async function (id) {
         await axios
        .delete("http://localhost:4000/api/movies/" + id, {
 
        })
        .then(response => {

          return response;
        }).then(resp => {
        this.$refs.lista.removeRow(id)
       this.hide()
       
    
        })
        .catch(error => {
          this.hide()

          alert(error)
        });



    }
  },
  props: ""
};
</script>

<style scoped>

.container{
  margin-bottom: 1%
}
.post-container {
  margin: 2px 8px 0 0;

  overflow: auto;
}
.post-thumb {
  float: left;
}
.post-thumb img {
  display: block;
}
p.texto {
  font-size: 9.5px;
  margin: 6px 2px;
  font-style: italic;
  color: grey;
}

.q-btn {
  margin: 3px;
  float: right;
}
.cuerpo {
  padding-left: 3px;
}

.cuerpo span {
  font-size: 12px;
}
.subtitle span {
  margin: 0px;
  font-size: 9.5px;
  padding: 2px;
}
#titulo{
  font-size: 18px
}
#subtitulo{
  font-size: 12px;
  

  height: auto;
  width: auto;
}
.post-content{
  margin-left: 125px;
  margin-top: 10px
}
.post-content div{
  margin-bottom: 4px
}
#titulo{
  margin-bottom: 5px
}
hr{
  margin: 3px 0px 3px 0px
}
</style>