<template>
  <div v-if="show" class="q-pa-md q-mx-xs">
    <span>Mi Cuenta</span>

    <hr>
    <div class="q-mx-lg q-mt-lg">
      <form @submit="submit">
      <form-cuenta ref="form"
       :nombres=this.nombre 
       :apellidos=this.apellidos 
       :nick=this.nick
       :email=this.email
       :fechaNac=this.fechaNac
       :contrasenia=this.contrasenia

       >
       </form-cuenta>

        <div style="display: flex; justify-content: center;">
        <q-btn
          
          
          label="Guardar"
          type="submit"
          color="primary"
        />
        </div>
        </form>
    </div>
  </div>
</template>

<script>
import FormCuenta from "../components/FormCuenta";

export default {
  components: {
    FormCuenta
  },
  methods:{
    submit() {
      this.$refs.form.modif()
      this.$refs.form.checkForm()
    }
  },

  created: function () {
      if (this.$store.state.logueo == false) {
        this.$router.push('/login')
    }else {
      this.show = true
    }
  
  },
  data() {
    return {
      nombre: this.$store.state.usuario.nombre,
      apellidos: this.$store.state.usuario.apellido,
      nick: this.$store.state.usuario.nick,
      email: this.$store.state.usuario.email,
      fechaNac: new Date(this.$store.state.usuario.fechaNac),
      contrasenia: this.$store.state.usuario.contrasenia,
      show: false

    };
  }
};
</script>