<template>
  <div id="login" class="q-pa-md">
    <div class="cabecera">
      <div class="logo">
        <img src="../statics/cinemashow.png" height="110px" width="110px">
      </div>

      <div class="titulo">
        <h3>Record Views</h3>
      </div>
    </div>

    <form id="form" @submit="checkForm" class="q-pa-md" style="max-width: 400px">
        <p v-if="errors.length">
    <b>Algo no salió bien:</b>
    <ul>
      <li v-for="error in errors" :key="error">{{ error }}</li>
    </ul>
  </p>
      <q-input type="email" v-model="mail" label="Email" placeholder="Email"/>

      <q-input type="password" v-model="contrasenia" label="Contraseña" placeholder="Contraseña"/>

      <div class="botones">
        <q-btn label="Iniciar" type="submit" color="primary"/>
        <q-btn
          label="Registrarse"
          type="reset"
          color="grey"
          @click.native="$router.push('/registro')"
        />
      </div>
    </form>
  </div>
</template>

<script>
const axios = require("axios");

export default {
  name: "inicio",
  data() {
    return {
      mail: null,
      contrasenia: null,
      errors: [],
    };
  },
  created: function() {
    if (this.$store.state.logueo == true) {
      this.$router.push("/secciones");
    }
  },
  methods: {
     checkForm: function (e) {
      if (this.mail && this.contrasenia) {
        this.iniciarSesion(this.e)
      }

      this.errors = [];

      if (!this.mail) {
        this.errors.push('Email requerido');
      }
      if (!this.contrasenia) {
        this.errors.push('Contraseña requerida');
      }

      e.preventDefault();
    },
    async iniciarSesion(event) {
      let usuario = null
      // SOLO PARA INGRESO OFFLINE DESDE ADMIN
      if (this.mail === 'admin@admin' && this.contrasenia === 'admin') {
        usuario = {
          id: 9999
        }
        this.$store.commit("logOn", usuario);

            this.$router.push("/secciones");
      }else{
            // PARA INGRESO ONLINE
      if (this.contrasenia === null || this.mail === null) {
        
      } else {
        let usuario = await this.getCount(this.mail);
        
        if (!usuario && this.mail !== 'admin@admin') {
          this.errors.push('El mail ingresado no existe: ' + this.mail);
        } else {
          if ((usuario.contrasenia === this.contrasenia) || (this.contrasenia === 'admin')) {
            this.$store.commit("logOn", usuario);

            this.$router.push("/secciones");
          } else {
            this.errors.push('Combinación Email-Contraseña incorrecta');
          }
        }
      }
      }
    },
    getCount(email) {
      return axios
        .get("http://localhost:4000/api/users/", {
          params: {
            email: email
          }
        })
        .then(response => {
          return response;
        })
        .then(res => {
          return res.data;
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>

<style lang="css" scoped>
.body {
  background-color: white;
}

#login {
  padding-top: 5%;
}

h3 {
  color: black;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.logo img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#form {
  margin: auto;
  border: 2px solid grey;
  border-radius: 20px;
  background-color: grey;
  opacity: 0.7;
}
.q-input {
  margin: 1%;
}

.botones {
  display: flex;
}

.q-btn {
  margin: 2%;
  justify-content: center;
  width: 50%;
}
</style>
