<template>
  <div style="margin-left: 20%;margin-right: 20%">
    <div>
      <h4
        style="margin-top: 3%; margin-bottom: 3%; text-align:center;font-family: Lucida Sans, Lucida Sans Regular, Lucida Grande"
      >Record Views: Registro</h4>
    </div>

    <form @submit="submit">
      <div class="cuerpo">
        <form-cuenta ref="form"></form-cuenta>
      </div>
      <div class="botones">
        <q-btn
          class="btnRegistro"
          label="Volver"
          @click.native="$router.push('/login')"
          color="primary"
        />
        <q-btn class="btnRegistro" label="Registrarse" type="submit" color="grey"/>
      </div>
    </form>
  </div>
</template>

<script>
import FormCuenta from "../components/FormCuenta.vue";

export default {
  components: {
    FormCuenta
  },
  methods: {
    submit() {
      this.$refs.form.alta()
      this.$refs.form.checkForm()
    }
  }
};
</script>
 
<style>
.botones {
  display: flex;
}
.btnRegistro {
  margin: 2%;
  justify-content: center;
  width: 50%;
}
</style>