<template>
  <div v-if="show">
   
    <item-seccion v-for="seccion in secciones" :key="seccion.id" v-bind:secciondos="seccion"></item-seccion>

  </div>
</template>




<script>
import ItemSeccion from "../components/ItemSeccion.vue";



export default {
  name: "secciones",
  components: {
    ItemSeccion
  },
  created: async function () {
      if (this.$store.state.logueo == false) {
        this.$router.push('/login')
    }else{
      this.show = true
    }
  
  },
  
  data() {
    return {
      show: false,
      secciones: [
        {
          id:1,
          nombre: "Mis Contenidos",
          ruta: "/contenidos",
          descripcion: "Entrá y mirá tus vistas",
          img:
            "https://as01.epimg.net/meristation/imagenes/2018/01/22/reportaje/1516604400_722996_1531823096_sumario_normal.jpg"
        },
        {
          id:2,
          nombre: "Buscar ya!",
          ruta: "/buscar",
          descripcion: "Encontrá ahora mismo eso que buscás",
          img: "https://img.eldefinido.cl/portadas/650/2017-12-21-114SOR659.jpg"
        },
        {
          id:3,
          nombre: "Mi Cuenta",
          ruta: "/cuenta",
          descripcion: "Revisá los datos de tu cuenta",
          img:
            "https://i1.wp.com/www.sopitas.com/wp-content/uploads/2018/06/peliculas-esperadas-2019.jpg"
        },
        {
          id:4,
          nombre: "Extras",
          ruta: "/extras",
          descripcion: "Date una vuelta y verás...",
          img:
            "https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/mejores-peliculas-eroticas-netflix-1540753820.jpg?crop=0.980xw:0.862xh;0.00816xw,0.0259xh&resize=768:*"
        }
      ]
    };
  }
};
</script>
