

<template>
  <div @submit="checkForm">
    <div v-if="errors.length" class="errores">
      <b>Algo no está bien:</b>
      <ul>
        <li v-for="error in errors" :key="error">{{ error }}</li>
      </ul>
    </div>
    <div v-if="altaOk" class="mensaje">
      <b>{{mensaje}}</b>
    </div>

    <q-field icon="fas fa-user-alt" label="Nick" error-label="Tu nick es necesario" class="inpu">
      <q-input color="black" placeholder="Ingresá tu nick" v-model="nick"/>
    </q-field>
    <q-field
      icon="fas fa-signature"
      label="Nombres"
      error-label="Tu nombre es necesario"
      class="input"
    >
      <q-input placeholder="Ingresá tu nombre" v-model="nombres"/>
    </q-field>
    <q-field
      icon="fas fa-signature"
      label="Apellidos"
      error-label="Tu apellido es necesario"
      class="input"
    >
      <q-input placeholder="Ingresá tu apellido" v-model="apellidos"/>
    </q-field>
    <q-field
      icon="fas fa-birthday-cake"
      label="Fecha de Nacimiento"
      error-label="Tu fecha de nacimiento es necesaria"
      class="input"
    >
      <q-datetime
        dark
        inverted-light
        placeholder="Ingresá tu nacimiento"
        color="white"
        v-model="fechaNac"
        type="date"
        format="DD/MM/YYYY"
        @change="val => { fechaNac = val }"
      />
    </q-field>
    <q-field icon="fas fa-at" label="E-Mail" error-label="Tu e-Mail es necesario" class="input">
      <q-input type="email" placeholder="Ingresá tu e-Mail" v-model="email"/>
    </q-field>
    <q-field
      icon="fas fa-lock"
      label="Contraseña"
      error-label="Tu contraseña es necesaria"
      class="input"
    >
      <q-input type="password" placeholder="Ingresá tu contraseña" v-model="contrasenia"/>
    </q-field>
  </div>
</template>

<script>
const axios = require("axios");

export default {
  name: "form-cuenta",

  props: {
    nick: String,
    nombres: String,
    apellidos: String,
    fechaNac: Date,
    email: String,
    contrasenia: String
  },
  data() {
    return {
      errors: [],
      altaOk: false,
      mode: "",
      mensaje: ""
    };
  },
  methods: {
    alta() {
      this.mode = "alta";
    },
    modif() {
      this.mode = "modif";
    },
    async modificar(event) {
    
      let usuario = await this.getCount(this.email.trim());

       let resp = await this.modificarUsuario(
          this.nick,
          this.nombres,
          this.apellidos,
          this.contrasenia,
          this.email,
          this.fechaNac,
          usuario.id
        );

        console.log('la respuesta es' + resp)
        this.errors = [];
        this.altaOk = true;
        this.mensaje = "Datos modificados";
    },
    reset () {
      this.nick = null,
      this.contrasenia = null,
      this.nombres = null,
      this.apellidos = null,
      this.email = null,
      this.fechaNac = null
    },
    async registrar(event) {
      let usuario = await this.getCount(this.email.trim());

      if (!usuario) {
        let resp = await this.altaUsuario(
          this.nick,
          this.nombres,
          this.apellidos,
          this.contrasenia,
          this.email,
          this.fechaNac
        );
        
        this.errors = [];
        this.altaOk = true;
        this.mensaje = "Registro Exitoso";
        this.reset()
      } else {
        this.altaOk = false;
        this.mensaje = null;
        this.errors.push("El mail ingresado ya está registrado");
      }
    },

    checkForm(e) {
      if (
        this.email &&
        this.contrasenia &&
        this.nick &&
        this.fechaNac &&
        this.nombres &&
        this.apellidos
      ) {
        if (this.mode === "alta") {
          this.registrar(this.e);
        } else if (this.mode === "modif") {
          this.modificar(this.e);
        }
      }

      this.errors = [];
      this.altaOk = false;
      this.mensaje = null;

      if (!this.email) {
        this.errors.push("Email requerido");
      }
      if (!this.contrasenia) {
        this.errors.push("Contraseña requerida");
      }
      if (!this.nick) {
        this.errors.push("Nick requerido");
      }
      if (!this.nombres) {
        this.errors.push("Nombre/s requerido");
      }
      if (!this.apellidos) {
        this.errors.push("Apellido/s requerido");
      }
      if (!this.fechaNac) {
        this.errors.push("Fecha de Nacimiento requerida");
      }
    },
    async altaUsuario(nick, nombres, apellidos, contrasenia, email, fechaNac) {
      
      axios
        .post("http://localhost:4000/api/users/", {
          nick: nick,
          nombre: nombres,
          apellido: apellidos,
          email: email,
          contrasenia: contrasenia,
          fechaNac: fechaNac
        })
        .then(response => {
          return response
        })
        .catch(error => {
          error.response
          this.errors.push(error.message);
        });
    },
    async modificarUsuario(
      nick,
      nombres,
      apellidos,
      contrasenia,
      email,
      fechaNac, 
      ide
    ) {
      axios
        .put("http://localhost:4000/api/users/"+ide, {
          nick: nick,
          nombre: nombres,
          apellido: apellidos,
          email: email,
          contrasenia: contrasenia,
          fechaNac: fechaNac
          
        })
        .then(response => {
          return response
        })
        .catch(error => {
          console.log(error)
          this.errors.push(error.message);
        });
    },
    getCount(email) {
      return axios
        .get("http://localhost:4000/api/users/", {
          params: {
            email: email
          }
        })
        .then(response => {
          return response;
        })
        .then(res => {
          return res.data;
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>

<style>
.errores {
  margin-top: 4%;
  margin-bottom: 4%;
  padding: 4%;
  background-color: #8d8b899a;
  border: 2px solid;
  border-radius: 20px;
}

.mensaje {
  margin-top: 4%;
  margin-bottom: 4%;
  padding: 4%;
  background-color: #8d8b899a;
  border: 2px solid;
  border-radius: 20px;
}
</style>