<template>
  <div>
    <q-modal :content-css="{minWidth: '300px', minHeight: '500px'}" v-model="showModal" minimized>
      <q-card class="q-ma-xs q-pa-xs">
        <div class="q-ma-xs">
          <hr>
          <div class="post-containerb">
            <div class="post-thumba">
              <img :src="obraMaestra.poster" alt="Foto de la pelicula" height="110px" width="110px">
            </div>

            <div class="post-contentb">
              <div id="titulo">{{obraMaestra.title}}</div>
              <div id="subtitulo" v-if="obraMaestra.type == 'series'">Serie</div>
              <div id="subtitulo" v-else>Pelicula</div>
              <div id="subtitulo">{{obraMaestra.genres}}</div>
              <div id="subtitulo">{{obraMaestra.year}}</div>
            </div>
          </div>
          <hr>
          <div class="cuerpo">
            <span>Sinopsis</span>
            <p class="texto">{{obraMaestra.plot}}</p>
            <span>Clasifición</span>
            <p class="texto">{{obraMaestra.rated}}</p>
            <span>Duración</span>
            <p class="texto">{{obraMaestra.runtime}}</p>

            <span>Actores</span>
            <p class="texto">{{obraMaestra.actors}}</p>
            <span>Rating IMDB</span>
            <br>
            <q-rating
              style="margin: 5px 2px"
              color="orange"
              icon="fas fa-film"
              v-model="obraMaestra.rating"
              :max="10"
              disable
            />
          </div>
          <hr>
        </div>
      </q-card>

      <div id="botones" class="q-ma-xs">
        <div v-if="obraMaestra.existe == false">
          <q-btn color="green" icon="fas fa-trash-alt" @click="agregar(obraMaestra)" label="Agregar"/>
       
          </div>
        
        <q-btn color="primary" @click="showModal = false" label="Cerrar"/>
      </div>


    </q-modal>
  </div>
</template>

<script>
const axios = require("axios");

export default {
  name: "item-obra",
  data() {
    return {
      showModal: false,
      alert: false,
      buttonmsg: 'Guardada'
    };
  },
  methods: {
    show() {
      this.showModal = true;
    },
    hide() {
      this.showModal = false;
    },

    agregar(value) {
      console.log(value)
      axios
        .post("http://localhost:4000/api/movies/", {
          id: value.id,
          title: value.title,
          year: value.year,
          director: "Sarasa",
          rating: value.rating
        })
        .then(response => {
            this.hide()
        })
        .catch(error => {
               console.log(error)
        });
    }
  },
  props: {
    obraMaestra: Object
  }
};
</script>

<style>
.post-containerb {
  margin: 2px 8px 0 0;

  overflow: auto;
}
.post-thumba {
  float: left;
}
.post-thumba img {
  display: block;
}

p.texto {
  font-size: 75%;
  margin: 6px 2px;
  font-style: italic;
  color: grey;
}

.q-btn {
  margin: 3px;
  float: right;
}
.cuerpo {
  padding-left: 3px;
}

.cuerpo span {
  font-size: 12px;
}
.subtitle span {
  margin: 0px;
  font-size: 9.5px;
  padding: 2px;
}
#titulo {
  font-size: 18px;
}
#subtitulo {
  font-size: 12px;

  height: auto;
  width: auto;
}
.post-contentb {
  margin-left: 125px;
  margin-top: 10px;
}
.post-contentb div {
  margin-bottom: 4px;
}
#titulo {
  margin-bottom: 5px;
}
hr {
  margin: 3px 0px 3px 0px;
}
</style>

