<template>
  <div class="q-pa-md">
    <q-parallax class="paralax" :src="secciondos.img" :height="200" :speed="1" @click.native="$router.push(secciondos.ruta)">
       
        <div>
          <h1>{{secciondos.nombre}}</h1>
        </div>

    </q-parallax>
  </div>
</template>

<script>
export default {
  name: "item-seccion",
  data() {
    return {};
  },
  props: {

    secciondos: Object
  }
};
</script>

<style scoped>

h1{
  background-color:black;opacity: 0.7;
 
  padding: 2px 10px;
  font-size:46px;
  color:white;
  border: 2px solid white;
  border-radius: 20px;
  

}

.paralax{
  border: 2px solid grey;
  border-radius: 20px;
}
</style>


