<template>
  <div class="q-pa-sm" v-on:click="openModal()">
    <q-card id="card">
      <q-card-title style="margin: 10px 10px 2px 10px; padding: 1px">{{obra.titulo}}</q-card-title>
      <div class="post-container">
        <div class="post-thumb">
          <img
            :src="this.obra.poster"
            @error="this.src = 'https://cdn4.iconfinder.com/data/icons/photo-video-outline/100/objects-17-512.png'"
            height="110px"
            width="110px"
          >
        </div>

        <div class="post-content">
          <div id="subtitulo" v-if="obra.tipo == 'series'">Serie</div>
          <div id="subtitulo" v-else-if="obra.tipo == 'game'">Juego</div>
          <div id="subtitulo" v-else>Pelicula</div>
          <div id="subtitulo">Año {{obra.anio}}</div>

          <div id="subtitulo">Código IMDB {{obra.idimdb.toUpperCase()}}</div>
        </div>
      </div>
      <q-card-separator/>
    </q-card>
    <item-obra ref="itemobra" v-bind:obraMaestra="this.itemdata"></item-obra>
  </div>
</template>


<script>
import ItemObra from "../components/ItemObra";

const axios = require("axios");

const imdb = require("imdb-api");

const cli = new imdb.Client({ apiKey: "8fbc13a8" });

export default {
  name: "item-buscar",
  components: {
    ItemObra
  },
  methods: {
    getById(value) {
      return axios
        .get("http://localhost:4000/api/movies/", {
          params: {
            id: value
          }
        })
        .then(response => {
          return response;
        })
        .then(res => {
          return res.data;
        })
        .catch(error => {
          console.log(error);
        });
    },

    async openModal() {
      let movieFind = await this.getById(this.obra.idimdb);

      if (movieFind) {
        this.itemdata.existe = true;
      } else {
        this.itemdata.existe = false;
      }

      if (this.obra.tipo != "game") {
        await imdb
          .get({ id: this.obra.idimdb }, { apiKey: "8fbc13a8" })
          .then(result => {
            this.itemdata.title = result.title;
            console.log(result.year)
            console.log(result._year_data)

            if (result.year === undefined) {
              if (result._year_data !== undefined) {
                this.itemdata.year = result._year_data;
              } else {
                this.itemdata.year = "non info";
              }
            } else {
              this.itemdata.year = result.year;
            }

            this.itemdata.poster = result.poster;
            this.itemdata.genres = result.genres;
            this.itemdata.plot = result.plot;
            this.itemdata.rating = result.rating;
            this.itemdata.runtime = result.runtime;
            this.itemdata.rated = result.rated;
            this.itemdata.actors = result.actors;
            this.itemdata.type = result.type;
            this.itemdata.id = result.imdbid;
            console.log(this.itemdata.existe);

            
          });
        this.$refs.itemobra.show();
      }
    }
  },

  data() {
    return {
      itemdata: {
        title: "",
        year: 0,
        poster: "",
        genres: "",
        plot: "",
        rating: 0,
        runtime: "",
        rated: "",
        actors: "",
        type: "",
        id: "",
        existe: false
      },
      open: false
    };
  },
  props: {
    row: Object,
    selected: true,

    obra: {
      titulo: String,
      idimdb: String,
      tipo: String,
      poster: String,
      anio: String
    }
  }
};
</script>

<style scoped>
#card {
  background-color: rgb(1, 0, 12);
  opacity: 1.5;
  border: 2px solid white;
  border-radius: 20px;
  color: white;
}

.post-container {
  margin: 10px;

  overflow: auto;
}
.post-thumb {
  float: left;
}
.post-thumb img {
  display: block;
}

#titulo {
  font-size: 18px;
}
#subtitulo {
  font-size: 13px;
  margin-bottom: 17px;
  height: auto;
  width: auto;
}
.post-content {
  margin-left: 125px;
  margin-top: 10px;
}
.post-content div {
  margin-bottom: 4px;
}
#titulo {
  margin-bottom: 1px;
}
</style>