<template>
  <div>
    <q-table
      :data="movies"
      :columns="columns"
      :pagination.sync="paginacion"
      :rows-per-page-label="paginacion.mensaje"
      title="Seleccioná alguno de tus contenidos guardados"
      dark
      class="bg-black"
      color="amber"
      row-key="name"
    >
      <q-tr
        slot="body"
        slot-scope="props"
        :props="props"
        @click.native="mostrar(props.row)"
        class="cursor-pointer"
      >
        <q-td v-for="col in props.cols" :key="col.name" :props="props">{{ col.value }}</q-td>
      </q-tr>
    </q-table>
  </div>
</template>

<script>
const imdb = require("imdb-api");

export default {
  data() {
    return {
      columns: [
        {
          name: "title",
          align: "left",
          label: "Título",
          field: "title",
          sortable: true
        },
        {
          name: "year",
          align: "left",
          label: "Año",
          field: "year",
          sortable: true
        },
        {
          name: "rating",
          align: "left",
          label: "Rating",
          field: "rating",
          sortable: true
        }
      ],
      movies: [],
      indice: 0,

      paginacion: {
        sortBy: null,
        descending: false,
        page: 1,
        rowsPerPage: 10,
        mensaje: "Contenidos por página"
      }
    };
  },

  mounted() {},
  beforeCreate: function() {
    if (this.$store.state.logueo == false) {
      this.$router.push("/login");
    } else {
      fetch("http://localhost:4000/api/movies/")
        .then(response => {
          return response.json();
        })
        .then(resp => {
          console.log(resp);

          this.movies = resp;
        })
        .catch(error => {
          console.log("Error a obtener los datos");
        });
    }
  },

  created: function() {},
  methods: {
    mostrar: async function(value) {
      const result = await this.getById(value.id);

      this.$store.commit("changeValue", result);
      this.$store.commit("cambioModal");
    },
    getById: function(idobra) {
      return imdb.get({ id: idobra }, { apiKey: "8fbc13a8" });
    },
    removeRow: async function(id) {
      const movieIndex = await this.movies.findIndex(m => m.id == id);
      console.log(movieIndex)
      this.movies.splice(movieIndex, 1);
    }
  }
};
</script>