<template>
  <div class="fixed-center text-center">
    <p>
      <img
        src="~assets/sad.svg"
        style="width:30vw;max-width:150px;"
      >
    </p>
    <p class="text-faded"><strong>No encontramos ningún resultado para tu busqueda</strong></p>
    <p class="text-faded">Intentalo nuevamente :)</p>
  </div>
</template>

<script>
export default {
  name: 'sin-resultados',
  created: function () {
      if (this.$store.state.logueo == false) {
        this.$router.push('/login')
    }
  
  }
}
</script>
