
  #login {
    padding-top: 5%;
  }
  
  h3 {
    color: white;
    text-align: center;
    font-family: consolas;
  }
  .logo img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  #form {
    margin: auto;
    border: 2px solid grey;
    border-radius: 20px;
    background-color: grey;
    opacity: 0.7;
  }
  .q-input {
    margin: 1%;
  }
  
  
  .botones{
    display: flex
  }
  
  .q-btn{
    margin: 2%;
    justify-content: center;
    width: 50%;
    
  }
  
  