<!DOCTYPE html>
<html>
  <head>
    <title>Record Views</title>

    <meta charset="utf-8">
    <meta name="description" content="<%= htmlWebpackPlugin.options.productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" href="statics/icons/cinemashow64x64.ico" type="image/x-icon">
    <link rel="icon" type="image/png" sizes="32x32" href="statics/icons/cinemashow32x32.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="statics/icons/cinemashow16x16.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  >
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
