<template>
  <q-layout view="hHr Lpr fFr">
    <q-layout-header reveal bordered class="text-white bg-primary">
      <q-toolbar :glossy="$q.theme === 'mat'" :inverted="$q.theme === 'ios'">
        <q-toolbar-title>Record Views</q-toolbar-title>

        <q-btn right @click="right = !right" aria-label="Menu">
          <q-icon name="fas fa-film"/>
        </q-btn>
      </q-toolbar>
    </q-layout-header>

    <q-layout-drawer
      v-model="right"
      side="right"
      :content-class="$q.theme === 'mat' ? 'bg-grey-2' : null"
    >
      <q-list no-border link inset-delimiter>
        <q-list-header style="text-align:center">Secciones</q-list-header>
        <q-item @click.native="$router.push('/secciones')">
          <q-item-side icon="fas fa-film" color="black"/>
          <q-item-main label="Inicio"/>
        </q-item>
        <q-item @click.native="$router.push('/contenidos')">
          <q-item-side icon="fas fa-video" color="blue-9"/>
          <q-item-main label="Mis Contenidos"/>
        </q-item>
        <q-item @click.native="$router.push('/buscar')">
          <q-item-side icon="fas fa-search" color="green-9"/>
          <q-item-main label="Buscar"/>
        </q-item>
        <q-item @click.native="$router.push('/cuenta')">
          <q-item-side icon="fas fa-id-card" color="purple-8"/>
          <q-item-main label="Cuenta"/>
        </q-item>
        <q-item @click.native="$router.push('/extras')">
          <q-item-side icon="fas fa-archive" color="red"/>
          <q-item-main label="Extras"/>
        </q-item>
        <q-item @click.native="cerrarSesion">
          <q-item-side icon="fas fa-sign-out-alt" color="black"/>
          <q-item-main label="Cerrar Sesión"/>
        </q-item>
      </q-list>
    </q-layout-drawer>

    <q-page-container>
      <router-view/>
    </q-page-container>
  </q-layout>
</template>

<script>
//import { openURL } from 'quasar'

export default {
  name: "MyLayout",
  data() {
    return {
      right: this.$q.platform.is.desktop
    };
  },
  methods: {
    cerrarSesion: function() {
      
      this.$store.commit("logOff");
      this.$router.push("/login");
    }
  }
};
</script>

<style>
</style>
